/* viide elemendile st muudame kõiki selliseid elemente */
body {
    background: radial-gradient(#9198e5, #001234);
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 3em; /* vahe elementide vahel */
    align-items: center;
}
/* #-ga viitame elemendile, millel on selline id */
#photo {
    max-width: 25em;
    max-height: 30em;
}
/* .-ga viitame elemenditele, millel on selline class */
.container {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

#textBox {
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
}

.card1 {
   font-family: sans-serif;
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#AA4A44;
    padding: 5em 1.5em 1.5em;
}
.card2 {
    font-family: sans-serif;
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#90d5ff;
    padding: 5em 1.5em 1.5em;
}
.card3 {
    font-family: sans-serif;
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#ff073a;
    padding: 5em 1.5em 1.5em;
}
.icon {
    max-width: 20em;
}
iframe {
    width: 50em;
    height: 28em;
}

button {
    background: radial-gradient(#ff073a, #001234);
    width: 20em;
    border: none;
    padding: 2em;
}

button:hover {
    background-color: radial-gradient(#000000, #FFFFFF);
    cursor: wait;
}